#define _InfWave _C(CDSP2_InfWave, _, _T1)
#define _IWave _C(CDSP2_IWave, _, _T1)
#define _Wave _C(CDSP2_Wave, _, _T1)
#define _List_Int CSVP_List_Int
#define _List_Spectrum _C(CSVP_List_Spectrum, _, _T1)
#define _STFTIterlyzer _C(CSVP_STFTIterlyzer, _, _T1)
#define _STFTItersizer _C(CSVP_STFTItersizer, _, _T1)

#define LPFSIZE CSVP_PSOLAIterlyzer_LPFSTFTSize
#define LPFHOP  CSVP_PSOLAIterlyzer_LPFHopSize

#define _CheckMembers(Name) \
    CDSP2_If_Debug_Check \
    ( \
        if(This -> Wave == NULL) \
            RDebugPrint(_RTClassName, _S(Name) ": require wave."); \
        if(This -> RefPeriod == 0) \
            RDebugPrint(_RTClassName, _S(Name) ": require reference " \
                "frequency."); \
    )

RCtor(_RTClassName)
{
    This -> LPFWave = RAlloc_Class(_InfWave, 1);
    This -> Sublyzer = RAlloc_Class(_STFTIterlyzer, 1);
    This -> Subsizer = RAlloc_Class(_STFTItersizer, 1);
    This -> Window = RCall(RAlloc, _T1)(LPFSIZE);
    RCall(CDSP2_GenHanning, _T1)(This -> Window, LPFSIZE);
    
    RCall(_List_Int, Ctor)(& This -> PulseList);
    RCall(_InfWave, CtorSize)(This -> LPFWave, 10000);
    RCall(_InfWave, SetWindow)(This -> LPFWave, This -> Window, LPFSIZE);
    RCall(_STFTIterlyzer, CtorSize)(This -> Sublyzer, LPFSIZE);
    RCall(_STFTItersizer, CtorSize)(This -> Subsizer, LPFSIZE);
    RCall(_STFTIterlyzer, SetHopSize)(This -> Sublyzer, LPFHOP);
    RCall(_STFTItersizer, SetHopSize)(This -> Subsizer, LPFHOP);
    RCall(_STFTItersizer, SetWave)(This -> Subsizer, This -> LPFWave);
    
    This -> LastPosition = 0;
    This -> InitPosition = 0;
    This -> PeakSign = 1;
    This -> RefPeriod = 0;
    This -> InitPeriod = 0;
    This -> LPF = 1500;
    
    RInit(_RTClassName);
}

RDtor(_RTClassName)
{
    RCall(_List_Int, Dtor)(& This -> PulseList);
    RCall(_InfWave, Dtor)(This -> LPFWave);
    RCall(_STFTIterlyzer, Dtor)(This -> Sublyzer);
    RCall(_STFTItersizer, Dtor)(This -> Subsizer);
    
    RFree(This -> Window);
    RFree(This -> LPFWave);
    RFree(This -> Sublyzer);
    RFree(This -> Subsizer);
}

RTMethod(void, CSVP_PSOLAIterlyzer, From, _RTClassName* Sorc)
{
    RCall(_List_Int, From)(& This -> PulseList, & Sorc -> PulseList);
    RCall(_InfWave, From)(This -> LPFWave, Sorc -> LPFWave);
    RCall(_STFTIterlyzer, From)(This -> Sublyzer, Sorc -> Sublyzer);
    RCall(_STFTItersizer, From)(This -> Subsizer, Sorc -> Subsizer);
    
    This -> LastPosition = Sorc -> LastPosition;
    This -> InitPosition = Sorc -> InitPosition;
    This -> PeakSign = Sorc -> PeakSign;
    This -> RefPeriod = Sorc -> RefPeriod;
    This -> LPF = Sorc -> LPF;
}

RTMethod(void, CSVP_PSOLAIterlyzer, SetWave, void* Sorc)
{
    This -> Wave = Sorc;
    ((_Wave*)This -> LPFWave) -> SampleRate = ((_Wave*)Sorc) -> SampleRate;
    RCall(_STFTIterlyzer, SetWave)(This -> Sublyzer, This -> Wave);
}

RTMethod(void, CSVP_PSOLAIterlyzer, SetPosition, int Position)
{
    CDSP2_If_Debug_Check
    (
        if(This -> Wave == NULL)
            RDebugPrint(_RTClassName, "SetPosition: inproper call sequence"
                "(Wave not set yet).");
    )
    This -> LastPosition = Position;
    This -> InitPosition = Position;
    RCall(_InfWave, Relocate)(This -> LPFWave, Position - 1024);
    RCall(_STFTIterlyzer, SetPosition)(This -> Sublyzer, Position - 1024);
    RCall(_STFTItersizer, SetPosition)(This -> Subsizer, Position - 1024);
}

RTMethod(int , CSVP_PSOLAIterlyzer, GetPosition)
{
    return This -> LastPosition;
}

RTMethod(void, CSVP_PSOLAIterlyzer, SetRefFreq, _T1 Freq)
{
    CDSP2_If_Debug_Check
    (
        if(This -> Wave == NULL)
            RDebugPrint(_RTClassName, "SetRefFreq: inproper call sequence"
                "(Wave not set yet).");
    )
    This -> RefPeriod = ((_Wave*)This -> Wave) -> SampleRate / Freq;
    if(This -> LastPosition == This -> InitPosition)
        This -> InitPeriod = This -> RefPeriod;
}

RTMethod(void, CSVP_PSOLAIterlyzer, SetLPF, _T1 Freq)
{
    This -> LPF = Freq;
}

RTMethod(static int , CSVP_PSOLAIterlyzer, _PeakAt, void* Wave,
    int Center, int Range)
{
    _T1* Data = RCall(_IWave, GetUnsafePtr)(Wave);
    int LBound = Center - Range;
    int RBound = Center + Range;
    
    _T1 Peak = Data[LBound];
    int PeakPos = LBound;
    
    if(This -> PeakSign > 0)
    {
        //Positive Peak
        for(; LBound < RBound; LBound ++)
            if(Data[LBound] > Peak)
            {
                Peak = Data[LBound];
                PeakPos = LBound;
            }
    }else
    {
        //Negative Peak
        for(; LBound < RBound; LBound ++)
            if(Data[LBound] < Peak)
            {
                Peak = Data[LBound];
                PeakPos = LBound;
            }
    }
    return PeakPos;
}

RTMethod(static int , CSVP_PSOLAIterlyzer, _MaxCorrelation, void* Wave,
    int Center, int Period, _T1 Offset, _T1 Range)
{
    _T1* Data = RCall(_IWave, GetUnsafePtr)(Wave);
    _T1* MulD = RCall(RAlloc, _T1)(Period * 2);
    
    int LB1 = Center - Period;
    int LB2;
    int From = Center - Range * Period + Offset * Period;
    int Dest = Center + Range * Period + Offset * Period;
    
    _T1 Max = - 999;
    int MaxPos = From;
    for(; From < Dest; From ++)
    {
        LB2 = From - Period;
        RCall(CDSP2_VMul, _T1)(MulD, Data + LB1, Data + LB2, Period * 2);
        _T1 Corr = RCall(CDSP2_VSum, _T1)(MulD, 0, Period * 2);
        if(Corr > Max)
        {
            Max = Corr;
            MaxPos = From;
        }
    }
    
    RFree(MulD);
    return MaxPos;
}

RTMethod(static void, CSVP_PSOLAIterlyzer, _LowPassTo, int Position)
{
    int i;
    
    //Set the operating window to my own window.
    _T1* OrigWind = ((_Wave*)This -> Wave) -> Window;
    int  OrigSize = ((_Wave*)This -> Wave) -> WinSize;
    RCall(_IWave, SetWindow)(This -> Wave, This -> Window, LPFSIZE);
    
    RCall(_STFTIterlyzer, IterNextTo)(This -> Sublyzer, Position);
    
    int FrameSize = RCall(_STFTIterlyzer, GetFrameSize)(This -> Sublyzer);
    int SampleRate = ((_Wave*)This -> Wave) -> SampleRate;
    _List_Spectrum* DestSpec = & This -> Sublyzer -> SpecList;
    
    RCall(CSVP_LSpecLowPass, _T1)(DestSpec, This -> LPF);
    RCall(_STFTItersizer, ExtractFrom)(This -> Subsizer, This -> Sublyzer);
    RCall(_STFTItersizer, IterNextTo)(This -> Subsizer, Position);
    
    //Restore the operating window of the wave.
    RCall(_IWave, SetWindow)(This -> Wave, OrigWind, OrigSize);
}

RTMethod(static void, CSVP_PSOLAIterlyzer, _SubIterNextTo, int Position)
{
    _T1 SampleRate = ((_Wave*)This -> Wave) -> SampleRate;
    RCall(_RTClassName, _LowPassTo)(This, Position);
    
    //Analyze to Position - 512
    while(This -> LastPosition < Position - LPFSIZE)
    {
        _T1 Freq = SampleRate / This -> RefPeriod;
        Freq = RCall(CSVP_F0FromWave, _T1)(This -> Wave, 
            This -> LastPosition + This -> RefPeriod, Freq * 0.7, Freq * 1.4);
        int NewPeriod = SampleRate / Freq;
        if(abs(NewPeriod - This -> RefPeriod) < 20)
        {
            This -> LPF = Freq * 5.5;
            This -> RefPeriod = NewPeriod;
        }
        
        int IdealNext = RCall(_RTClassName, _MaxCorrelation)(This,
            This -> LPFWave, This -> LastPosition, This -> RefPeriod, 1.0, 0.3);
        IdealNext = RCall(_RTClassName, _PeakAt)(This, This -> LPFWave,
            IdealNext, 10);
        This -> RefPeriod = IdealNext - This -> LastPosition;
        This -> LastPosition = IdealNext;
        
        /*
        printf("%f %f\n", (_T1)IdealNext / SampleRate,
            (_T1)IdealNext / SampleRate);*/
        
        RCall(_List_Int, Add)(& This -> PulseList, This -> LastPosition);
    }
}

RTMethod(int , CSVP_PSOLAIterlyzer, PreAnalysisTo, int Position)
{
    CDSP2_If_Debug_Check
    (
        if(This -> Wave == NULL)
            RDebugPrint(_RTClassName, "PreAnalysisTo: inproper call sequence"
                "(Wave not set yet).");
    )
    
    int SampleRate = ((_Wave*)This -> Wave) -> SampleRate;
    _T1* Hann = RCall(RAlloc, _T1)(2048);
    RCall(CDSP2_GenHanning, _T1)(Hann, 2048);
    
    _T1* OrigWind = ((_Wave*)This -> Wave) -> Window;
    int  OrigSize = ((_Wave*)This -> Wave) -> WinSize;
    RCall(_IWave, SetWindow)(This -> Wave, Hann, 2048);
    
    {
        //Find the fundamental frequency.
        _T1 Freq = RCall(CSVP_SecureF0FromWave, _T1)(This -> Wave,
            This -> InitPosition, This -> InitPosition, Position, 50, 1500);
        
        //Error: Improper range.
        if(Freq < 50 || Freq > 2000)
            return 0;
        
        This -> InitPeriod = (int)(SampleRate / Freq);
        This -> RefPeriod = (int)(SampleRate / Freq);
        
        //LPF Freq = 4rd harmonic
        This -> LPF = Freq * 5.5;
    }
    
    {
        //Find the sign of peak.
        int SearchSize = This -> InitPeriod * 1.5;
        int MaxCount = 0;
        int p = This -> InitPosition;
        _T1* Data = RCall(_IWave, GetUnsafePtr)(This -> Wave);
        while(p < Position)
        {
            _T1 Max, Min;
            Max = RCall(CDSP2_VMaxElmt, _T1)(Data, p, p + SearchSize);
            Min = RCall(CDSP2_VMinElmt, _T1)(Data, p, p + SearchSize);
            MaxCount += Max > Min ? 1 : - 1;
            p += 512;
        }
        This -> PeakSign = MaxCount >= 0 ? 1 : - 1;
    }
    
    {
        //Initial peak locating.
        RCall(_IWave, SetWindow)(This -> Wave, This -> Window, LPFSIZE);
        RCall(_RTClassName, _LowPassTo)(This, This -> InitPosition + 2048);
        int OrigPeak = RCall(_RTClassName, _PeakAt)(This, This -> Wave,
            This -> InitPosition, This -> InitPeriod);
        This -> InitPosition = RCall(_RTClassName, _PeakAt)(This,
            This -> LPFWave, OrigPeak, This -> InitPeriod / 2);
        This -> LastPosition = This -> InitPosition;
    }
    
    RFree(Hann);
    RCall(_IWave, SetWindow)(This -> Wave, OrigWind, OrigSize);
    
    return 1;
}

RTMethod(void, CSVP_PSOLAIterlyzer, IterNextTo, int Position)
{
    _CheckMembers(IterNextTo);
    
    int IterHopSize = LPFSIZE + 512;
    while(This -> LastPosition < Position - IterHopSize)
    {
        RCall(_RTClassName, _SubIterNextTo)(This,
            This -> LastPosition + IterHopSize);
        RCall(_InfWave, Submit)(This -> LPFWave,
            This -> LastPosition - 2048);
        RCall(_InfWave, Throw)(This -> LPFWave);
    }
    RCall(_RTClassName, _SubIterNextTo)(This, Position);
}

RTMethod(void, CSVP_PSOLAIterlyzer, PrevTo, int Position)
{
    _CheckMembers(PrevTo);
    CDSP2_If_Debug_Check
    (
        if(Position > This -> InitPosition)
            RDebugPrint(_RTClassName, "PrevTo: destination position later than "
                "the initial position.");
    )
    
    _T1 SampleRate = ((_Wave*)This -> Wave) -> SampleRate;
    
    //Set up a temporary buffer for backward low-pass filtering.
    _InfWave LPFWave;
    _STFTItersizer LPFItersizer;
    int ExtSize = 1024;
    RCall(_InfWave, CtorSize)(& LPFWave,
        This -> InitPosition - Position + ExtSize * 5);
    RCall(_InfWave, Relocate)(& LPFWave, Position - ExtSize * 3);
    RCall(_InfWave, SetWindow)(& LPFWave, This -> Window, LPFSIZE);
    RCall(_STFTItersizer, CtorSize)(& LPFItersizer, LPFSIZE);
    RCall(_STFTItersizer, SetHopSize)(& LPFItersizer, LPFHOP);
    RCall(_STFTItersizer, SetWave)(& LPFItersizer, & LPFWave);
    RCall(_STFTItersizer, SetPosition)(& LPFItersizer, Position - ExtSize);
    
    //Set the operating window to my own window.
    _T1* OrigWind = ((_Wave*)This -> Wave) -> Window;
    int  OrigSize = ((_Wave*)This -> Wave) -> WinSize;
    RCall(_IWave, SetWindow)(This -> Wave, This -> Window, LPFSIZE);
    
    //Set iterlyzer position.
    int OrigPosition = RCall(_STFTIterlyzer, GetPosition)(This -> Sublyzer);
    RCall(_STFTIterlyzer, SetPosition)(This -> Sublyzer,
        OrigPosition + ExtSize);
    
    //Set LPF and RefPeriod
    int LPF = SampleRate / This -> InitPeriod * 5.5;
    int RefPeriod = This -> InitPeriod;
    
    //Initial LowPass
    RCall(_STFTIterlyzer, IterPrevTo)(This -> Sublyzer, OrigPosition - 2048);
    RCall(CSVP_LSpecLowPass, _T1)(& This -> Sublyzer -> SpecList, LPF);
    RCall(_STFTItersizer, ExtractFrom)(& LPFItersizer, This -> Sublyzer);
    RCall(_STFTItersizer, IterPrevTo)(& LPFItersizer, OrigPosition - 2048);
    
    //Backward Iterlyzer Process
    int LastPosition = This -> InitPosition;
    while(LastPosition > Position)
    {
        RCall(_List_Int, Add)(& This -> PulseList, LastPosition);
        
        //LowPass Iteration
        RCall(_STFTIterlyzer, IterPrevTo)(This -> Sublyzer,
            LastPosition - 2048);
        RCall(CSVP_LSpecLowPass, _T1)(& This -> Sublyzer -> SpecList, LPF);
        RCall(_STFTItersizer, ExtractFrom)(& LPFItersizer, This -> Sublyzer);
        RCall(_STFTItersizer, IterPrevTo)(& LPFItersizer,
            LastPosition - 2048);
        
        _T1 Freq = SampleRate / RefPeriod;
        Freq = RCall(CSVP_F0FromWave, _T1)(This -> Wave,
            LastPosition + RefPeriod, Freq * 0.7, Freq * 1.4);
        int NewPeriod = SampleRate / Freq;
        
        if(abs(NewPeriod - RefPeriod) < 20)
        {
            LPF = Freq * 5.5;
            RefPeriod = NewPeriod;
        }
        
        int IdealPrev = RCall(_RTClassName, _MaxCorrelation)(This,
            & LPFWave, LastPosition, RefPeriod, - 1.0, 0.3);
        IdealPrev = RCall(_RTClassName, _PeakAt)(This, & LPFWave,
            IdealPrev, 10);
        RefPeriod = LastPosition - IdealPrev;
        LastPosition = IdealPrev;
        
        /*
        printf("%f %f\n", (_T1)LastPosition / SampleRate,
            (_T1)LastPosition / SampleRate);*/
    }
    
    //Low pass
    RCall(_STFTIterlyzer, IterNextTo)(This -> Sublyzer,
        This -> InitPosition + ExtSize);
    RCall(_STFTItersizer, ExtractFrom)(& LPFItersizer, This -> Sublyzer);
    RCall(_STFTItersizer, IterNextTo)(& LPFItersizer,
        This -> InitPosition + ExtSize);
    
    //Restore iterlyzer position and window.
    RCall(_STFTIterlyzer, SetPosition)(This -> Sublyzer, OrigPosition);
    RCall(_InfWave, Dtor)(& LPFWave);
    RCall(_STFTItersizer, Dtor)(& LPFItersizer);
    RCall(_IWave, SetWindow)(This -> Wave, OrigWind, OrigSize);
}

RTMethod(int , CSVP_PSOLAIterlyzer, Extract, int Index)
{
    return RCall(_List_Int, Extract)(& This -> PulseList, Index);
}

RTMethod(int , CSVP_PSOLAIterlyzer, Fetch, int Index)
{
    return RCall(_List_Int, Fetch)(& This -> PulseList, Index);
}

#undef  _InfWave
#undef  _Wave
#undef  _IWave
#undef  _List_Int
#undef  _List_Spectrum
#undef  _STFTIterlyzer
#undef  _STFTItersizer

