#define _Wave _C(CDSP2_Wave, _, _T1)
#define _List_Int CSVP_List_Int
#define _List_Sinusoid _C(CSVP_List_Sinusoid, _, _T1)
#define _STFTIterlyzer _C(CSVP_STFTIterlyzer, _, _T1)
#define _SinusoidalBase _C(CSVP_SinusoidalBase, _, _T1)
#define _Sinusoid _C(CSVP_Sinusoid, _, _T1)
#define _MyBase ((_SinusoidalBase*)This)

RCtor(_RTClassName)
{
    RCall(_SinusoidalBase, Ctor)(_MyBase);
    RCall(_List_Int, Ctor)(& This -> PulseList);
    RCall(_List_Sinusoid, Ctor)(& This -> SinuList);
    RInit(_RTClassName);
}

RDtor(_RTClassName)
{
    RCall(_SinusoidalBase, Dtor)(_MyBase);
    RCall(_List_Int, Dtor)(& This -> PulseList);
    RCall(_List_Sinusoid, Dtor)(& This -> SinuList);
}

RTMethod(void, CSVP_SinusoidIterlyzer, CtorSize, int Size)
{
    RCall(_SinusoidalBase, CtorSize)(_MyBase, Size);
    RCall(_List_Int, Ctor)(& This -> PulseList);
    RCall(_List_Sinusoid, Ctor)(& This -> SinuList);
    RInit(_RTClassName);
}

RTMethod(void, CSVP_SinusoidIterlyzer, Resize, int Size)
{
    RCall(_SinusoidalBase, Resize)(_MyBase, Size);
}

RTMethod(void, CSVP_SinusoidIterlyzer, From, _RTClassName* Sorc)
{
    RCall(_SinusoidalBase, From)(_MyBase, (_SinusoidalBase*)Sorc);
    RCall(_List_Int, From)(& This -> PulseList, & Sorc -> PulseList);
    RCall(_List_Sinusoid, From)(& This -> SinuList, & Sorc -> SinuList);
}

RTMethod(void, CSVP_SinusoidIterlyzer, Clear)
{
    RCall(_SinusoidalBase, Clear)(_MyBase);
    RCall(_List_Int, Clear)(& This -> PulseList);
    RCall(_List_Sinusoid, Clear)(& This -> SinuList);
}

RTMethod(void, CSVP_SinusoidIterlyzer, SetWave, void* Sorc)
{
    RCall(_SinusoidalBase, SetWave)(_MyBase, Sorc);
}

RTMethod(void, CSVP_SinusoidIterlyzer, SetHopSize, int HopSize)
{
    RCall(_SinusoidalBase, SetHopSize)(_MyBase, HopSize);
}

RTMethod(void, CSVP_SinusoidIterlyzer, SetPosition, int Position)
{
    RCall(_SinusoidalBase, SetPosition)(_MyBase, Position);
}

RTMethod(int , CSVP_SinusoidIterlyzer, GetPosition)
{
    return RCall(_SinusoidalBase, GetPosition)(_MyBase);
}

RTMethod(void, CSVP_SinusoidIterlyzer, SetRefFreq, _T1 RefF0)
{
    RCall(_SinusoidalBase, SetRefFreq)(_MyBase, RefF0);
}

RTMethod(int , CSVP_SinusoidIterlyzer, PreAnalysisTo, int Position)
{
    RCall(_SinusoidalBase, PreAnalysisTo)(_MyBase, Position);
}

RTMethod(static void, CSVP_SinusoidIterlyzer, _Analyze)
{
    _Sinusoid TempSinu;
    RCall(_Sinusoid, Ctor)(& TempSinu);
    int i;
    
    for(i = 0; i <= _MyBase -> FreqList_Index; i ++)
    {
        //Analysis
        _T1 F0 = _MyBase -> FreqList[i];
        int N = 10000.0f / F0;
        
        RCall(_Sinusoid, Resize)(& TempSinu, N);
        RCall(_Sinusoid, FromSpectrum)(& TempSinu,
            & _MyBase -> Sublyzer0 -> SpecList.Frames[i], F0);
        
        int Index = CSVP_List_Int_Add(& This -> PulseList,
            _MyBase -> PulseList.Frames[i]);
        RCall(_List_Sinusoid, Add)(& This -> SinuList, & TempSinu, Index);
    }
    
    RCall(_Sinusoid, Dtor)(& TempSinu);
}

RTMethod(int , CSVP_SinusoidIterlyzer, IterNextTo, int Position)
{
    RCall(_SinusoidalBase, IterNextTo)(_MyBase, Position);
    RCall(_RTClassName, _Analyze)(This);
    RCall(_SinusoidalBase, Clear)(_MyBase);
}

RTMethod(int , CSVP_SinusoidIterlyzer, PrevTo, int Position)
{
    RCall(_SinusoidalBase, PrevTo)(_MyBase, Position);
    RCall(_RTClassName, _Analyze)(This);
    RCall(_SinusoidalBase, Clear)(_MyBase);
}

#undef  _Wave
#undef  _List_Int
#undef  _List_Sinusoid
#undef  _STFTIterlyzer
#undef  _SinusoidalBase
#undef  _Sinusoid
#undef  _MyBase

